
@media screen and (max-width: 768px) {
    #leftsidebar {width: 400px; float: left;}
    #main {margin-left: 400px;}
}

#wrapper {
  padding: 2em;
}

header {
    background-color:rgb(14, 204, 188);
    font-size: 20px;
    height: 2em;
    width: 75em;
    margin-bottom: 20px;
}

header a {
padding: 1em;

}

body {
    background-color: rgb(253, 252, 252);
}

p {
    color: rgb(37, 36, 36);
    font-size: 1em;
    margin-bottom: 2em;
}

#headshot {
height: 250px;
width: 200px;
border-radius: 100px;
padding: 20px;
}
.interests-image {
margin-bottom: 15px;

}

#ramsey {
height: 200px;
width: 200px;
border-radius: 100px;
padding: 20px;
}

.interest {
text-align: center;
color: rgb(14, 204, 188);
}


.interests-image {
height: 150px;
weight: 150px;
border-radius: 100px;
padding: 20px;
}

.modal-content {
  background-color: #fff;
  padding: 2em;
}
